/**
 * NAVIGATION
 */
 nav {
    height: 70px;
}
nav h2 {
    padding: 20px 0 20px 15px;
    margin: 0;
    float: left;
}

nav ul {
    display: none;
}

@media (min-width: 768px) {
    nav ul {
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
        float: left;
        padding: 24px;
    }
    nav li {
        float: left;
        margin-left: 15px;
    }
}

/**
 * HEADER
 */

header {
    text-align: center;
}
header h2 {
    color: #0475BA;
}

header img {
    width: 150px;
    border-radius: 75px;
    box-shadow: 3px 3px 6px #AAA;
}

@media (min-width: 768px) {
    header {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    header .name,
    header .picture {
        vertical-align: top;
        display: inline-block;
        width: 384px;
    }
} 

/**
 * PRESENTATION
 */

/**
 * EXPERIENCES, FORMATION
 */

#Experiences ul, #Formations ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#Experiences li, #Formations li {
    margin-bottom: 10px;
}

#Experiences aside, #Formations aside {
    float: right;
} 

/**
 * FOOTER
 */
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .links {
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .links {
        width: 384px;
        display: inline-block;
        vertical-align: top;
    }
}